@model MyHours.Models.SUBJECT_ASSIGNMENT

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>SUBJECT_ASSIGNMENT</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IsSubstituteDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsSubstituteDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.STUDENT_GROUP.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STUDENT_GROUP.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SUBJECT.SubjectCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SUBJECT.SubjectCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TEACHER.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TEACHER.FirstName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
