@model MyHours.Models.SUBJECT_ASSIGNMENT

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>SUBJECT_ASSIGNMENT</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Hours)

        @Html.HiddenFor(model => model.TeacherID)

        @Html.HiddenFor(model => model.IsSubstitute)

        <div class="form-group">
            @Html.LabelFor(model => model.IsSubstituteDescription, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IsSubstituteDescription, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.IsSubstituteDescription, "", new { @class = "text-danger" })
            </div>
        </div>

        @Html.HiddenFor(model => model.StudentGroupID)

        @Html.HiddenFor(model => model.SubjectID)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
