@model IEnumerable<MyHours.Models.SUBJECT_ASSIGNMENT>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" align="center">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SUBJECT.SubjectCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SUBJECT.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SUBJECT_TYPE_DICT.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hours)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudiesType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Semester)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SUBJECT.Language)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.STUDENT_GROUP.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SUBJECT.SPECIALITY.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SUBJECT.SPECIALITY.MAJOR.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SUBJECT.SPECIALITY.MAJOR.FACULTY.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SUBJECT.SubjectCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SUBJECT.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SUBJECT_TYPE_DICT.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hours)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StudiesType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Semester)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SUBJECT.Language)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.STUDENT_GROUP.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SUBJECT.SPECIALITY.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SUBJECT.SPECIALITY.MAJOR.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SUBJECT.SPECIALITY.MAJOR.FACULTY.Name)
        </td>
        <td>
            <p><a href="@Url.Action("Edit","Teacher",new { id=item.ID })" class="btn btn-default">Edit</a></p>
        </td>
        <td>
            <p><a href="@Url.Action("Delete","Teacher",new { id=item.ID })" class="btn btn-default">Delete</a></p>
        </td>
    </tr>
}

</table>
