@model MyHours.Models.USER_NOTIFICATION

@{
    ViewBag.Title = "Accept";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Accept</h2>

<h3>Are you sure you want to accept this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            User
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USER.Name)
        </dd>

        <dt>
            Type
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Description
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            Date
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        @if (Model.Name.Contains("added"))
        {
            if (Model.SUBJECT_ASSIGNMENT_TEMP.IsSubstitute)
            {
                <dt>
                    Substitute Description
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SUBJECT_ASSIGNMENT_TEMP.IsSubstituteDescription)
                </dd>
            }
        }
        else
        {
            if (Model.SUBJECT_ASSIGNMENT.IsSubstitute)
            {
                <dt>
                    Substitute Description
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SUBJECT_ASSIGNMENT.IsSubstituteDescription)
                </dd>
            }
        }
    </dl>

    @if (Model.Name.Contains("modified"))
    {
        <hr />
        <table class="hours">
            <tr>
                <th style="font-size:large; text-decoration:underline">Original</th>
                <th style="width:200px"></th>
                <th style="font-size:large; text-decoration:underline">Modified</th>
            </tr>
            <tr>
                <td>
                    <dl>
                        <dt>
                            Subject Type
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.SUBJECT_ASSIGNMENT.SUBJECT_TYPE_DICT.Description)
                        </dd>

                        <dt>
                            Hours
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.SUBJECT_ASSIGNMENT.Hours)
                        </dd>

                        <dt>
                            Studies
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.SUBJECT_ASSIGNMENT.STUDIES_TYPE_DICT.Description)
                        </dd>

                        <dt>
                            Semester
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.SUBJECT_ASSIGNMENT.Semester)
                        </dd>

                        <dt>
                            Group
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.SUBJECT_ASSIGNMENT.STUDENT_GROUP.Name)
                        </dd>

                        <dt>
                            Is Substitute
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.SUBJECT_ASSIGNMENT.IsSubstitute)
                        </dd>

                        <dt>
                            Substitute Description
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.SUBJECT_ASSIGNMENT.IsSubstituteDescription)
                        </dd>

                    </dl>
                </td>

                <td style="width:200px;">

                </td>

                <td>
                    <dl>
                        <dt>
                            Subject Type
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.SUBJECT_ASSIGNMENT_TEMP.SUBJECT_TYPE_DICT.Description)
                        </dd>

                        <dt>
                            Hours
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.SUBJECT_ASSIGNMENT_TEMP.Hours)
                        </dd>

                        <dt>
                            Studies
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.SUBJECT_ASSIGNMENT_TEMP.STUDIES_TYPE_DICT.Description)
                        </dd>

                        <dt>
                            Semester
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.SUBJECT_ASSIGNMENT_TEMP.Semester)
                        </dd>

                        <dt>
                            Group
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.SUBJECT_ASSIGNMENT_TEMP.STUDENT_GROUP.Name)
                        </dd>

                        <dt>
                            Is Substitute
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.SUBJECT_ASSIGNMENT_TEMP.IsSubstitute)
                        </dd>

                        <dt>
                            Substitute Description
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.SUBJECT_ASSIGNMENT_TEMP.IsSubstituteDescription)
                        </dd>

                    </dl>
                </td>
            </tr>
        </table>
        <hr />
    }
    else if (Model.Name.Contains("added"))
    {
        <div>
            <hr />
            <dl>
                <dt>
                    Subject Type
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SUBJECT_ASSIGNMENT_TEMP.SUBJECT_TYPE_DICT.Description)
                </dd>

                <dt>
                    Hours
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SUBJECT_ASSIGNMENT_TEMP.Hours)
                </dd>

                <dt>
                    Studies
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SUBJECT_ASSIGNMENT_TEMP.STUDIES_TYPE_DICT.Description)
                </dd>

                <dt>
                    Semester
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SUBJECT_ASSIGNMENT_TEMP.Semester)
                </dd>

                <dt>
                    Group
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SUBJECT_ASSIGNMENT_TEMP.STUDENT_GROUP.Name)
                </dd>
                @if (Model.SUBJECT_ASSIGNMENT_TEMP.IsSubstitute)
                {
                    <dt>
                        Substitute Description
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.SUBJECT_ASSIGNMENT_TEMP.IsSubstituteDescription)
                    </dd>
                }
            </dl>
        </div>
        <hr />
    }
    else if (Model.Name.Contains("deleted"))
    {
        <div>
            <hr />
            <dl>
                <dt>
                    Subject Type
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SUBJECT_ASSIGNMENT.SUBJECT_TYPE_DICT.Description)
                </dd>

                <dt>
                    Hours
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SUBJECT_ASSIGNMENT.Hours)
                </dd>

                <dt>
                    Studies
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SUBJECT_ASSIGNMENT.STUDIES_TYPE_DICT.Description)
                </dd>

                <dt>
                    Semester
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SUBJECT_ASSIGNMENT.Semester)
                </dd>

                <dt>
                    Group
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SUBJECT_ASSIGNMENT.STUDENT_GROUP.Name)
                </dd>

                @if (Model.SUBJECT_ASSIGNMENT.IsSubstitute)
                {
                    <dt>
                        Substitute Description
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.SUBJECT_ASSIGNMENT.IsSubstituteDescription)
                    </dd>
                }

            </dl>
        </div>
        <hr/>
    }

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color" style="display:inline-block;">
            <input type="submit" value="Accept" class="btn btn-default" />
            <p style="width:50px;" />
            <p><a href="@Url.Action("Index","Notifications",null)" class="btn btn-default">No</a></p>
        </div>
    }
</div>
