@* STYLES *@
<link href="~/Content/TeacherPage/TeacherIndexStyle.css" rel="stylesheet" />

@model MyHours.Models.SUBJECT_ASSIGNMENT

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>@Model.SUBJECT.Name - @Model.SUBJECT.SubjectCode</h4>


        <hr />
        <table class="hours">
            <tr>
                <th class="hours">Assigned Hours</th>
                <th class="hours">Used Hours</th>
                <th class="hours">Free Hours</th>
            </tr>
            <tr>
                <td class="hours">
                    @{
                        <font color="blue"><b>@ViewBag.AssignedHours</b></font>
                    }
                </td>

                <td class="hours">
                    @{
                        if (ViewBag.UsedHours > ViewBag.AssignedHours)
                        {
                            <font color="red"><b>@ViewBag.UsedHours</b></font>
                        }
                        else if (ViewBag.UsedHours == ViewBag.AssignedHours)
                        {
                            <font color="blue"><b>@ViewBag.UsedHours</b></font>
                        }
                        else
                        {
                            <font color="green"><b>@ViewBag.UsedHours</b></font>
                        }
                    }
                </td>

                <td class="hours">
                    @{
                        if (ViewBag.FreeHours != 0)
                        {
                            <font color="green"><b>@ViewBag.FreeHours</b></font>
                        }
                        else
                        {
                            <font color="blue"><b>@ViewBag.FreeHours</b></font>
                        }
                    }
                </td>
            </tr>
        </table>
        <hr />


        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.TeacherID)

        <div class="form-group">
            @Html.LabelFor(model => model.SubjectTypeID, "Type", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("SubjectTypeID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SubjectTypeID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Hours, "Hours", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Hours, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Hours, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StudiesTypeID, "Studies", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("StudiesTypeID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.StudiesTypeID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Semester, "Semester", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Semester, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Semester, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StudentGroupID, "Group", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("StudentGroupID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.StudentGroupID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsSubstitute, "Is Substitute", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox" id="IsSubstituteCheckBox">
                    @Html.EditorFor(model => model.IsSubstitute, new { data_val = "false" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsSubstituteDescription, "Description", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @if (Model.IsSubstitute == true)
                {
                    @Html.TextAreaFor(model => model.IsSubstituteDescription, new { id = "SubDescr", style = "height:200px; width:300px; resize: none;" })
                }
                else
                {
                    @Html.TextAreaFor(model => model.IsSubstituteDescription, new { id = "SubDescr", style = "height:200px; width:300px; resize: none;", disabled = "disabled" })
                }

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ReplacedName, "Teacher", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ReplacedName, new { htmlAttributes = new { @class = "form-control", id = "SubDescr" } })
                @Html.ValidationMessageFor(model => model.ReplacedName, "", new { @class = "text-danger" })
            </div>
        </div>

        @Html.HiddenFor(model => model.StudentGroupID)

        @Html.HiddenFor(model => model.SubjectID)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">

                <input type="submit" value="Save" class="btn btn-default">
            </div>
        </div>
    </div>
                        }

<p>
    <a href="@Url.Action("Index","Administrator")" class="btn btn-primary btn-lg">Back <i class="fa fa-angle-double-left" style="color:white" /></a>
</p>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/TeacherPanelEditScripts.js"></script>
}