@* STYLES *@
<link href="~/Content/TeacherPage/TeacherIndexStyle.css" rel="stylesheet" />

@model IEnumerable<MyHours.Models.SUBJECT_ASSIGNMENT>

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Teacher</h2>
<p style="height:35px;"></p>

<table class="hours">
    <tr>
        <th class="hours">Total Time</th>
        <th class="hours">Over Time</th>
        <th class="hours">Subjects</th>
    </tr>
    <tr>
        <td class="hours">
            @{
                <font color="blue"><b>@ViewBag.TotalTime</b></font>
            }
        </td>

        <td class="hours">
            @{
                if (ViewBag.OverTime == 0)
                {
                    <font color="blue"><b>@ViewBag.OverTime</b></font>
                }
                else if (ViewBag.OverTime > 0)
                {
                    <font color="red"><b>@ViewBag.OverTime</b></font>
                }
            }
        </td>

        <td class="hours">
            @{
                if (ViewBag.NumberOfSubjects != 0)
                {
                    <font color="green"><b>@ViewBag.NumberOfSubjects</b></font>
                }
                else
                {
                    <font color="red"><b>@ViewBag.NumberOfSubjects</b></font>
                }
            }
        </td>
    </tr>
</table>

<table class="table" align="center">
    <tr>
        <th class="tableContent">
            <div class="tableContent">
                @Html.DisplayNameFor(model => model.SUBJECT.SubjectCode)
            </div>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SUBJECT.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SUBJECT_TYPE_DICT.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hours)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.STUDIES_TYPE_DICT.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Semester)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SUBJECT.Language)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.STUDENT_GROUP.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SUBJECT.SPECIALITY.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SUBJECT.SPECIALITY.MAJOR.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SUBJECT.SPECIALITY.MAJOR.FACULTY.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SUBJECT.SubjectCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SUBJECT.Name)
            </td>
            <td class="tableContent">
                @Html.DisplayFor(modelItem => item.SUBJECT_TYPE_DICT.Name)
            </td>
            <td class="tableContent">
                @Html.DisplayFor(modelItem => item.Hours)
            </td>
            <td class="tableContent">
                @Html.DisplayFor(modelItem => item.STUDIES_TYPE_DICT.Name)
            </td>
            <td class="tableContent">
                @Html.DisplayFor(modelItem => item.Semester)
            </td>
            <td class="tableContent">
                @Html.DisplayFor(modelItem => item.SUBJECT.Language)
            </td>
            <td class="tableContent">
                @Html.DisplayFor(modelItem => item.STUDENT_GROUP.Name)
            </td>
            <td class="tableContent">
                @Html.DisplayFor(modelItem => item.SUBJECT.SPECIALITY.Name)
            </td>
            <td class="tableContent">
                @Html.DisplayFor(modelItem => item.SUBJECT.SPECIALITY.MAJOR.Name)
            </td>
            <td class="tableContent">
                @Html.DisplayFor(modelItem => item.SUBJECT.SPECIALITY.MAJOR.FACULTY.Name)
            </td>
            <td>
                <p><a href="@Url.Action("EditSubject","Administrator",new { id=item.ID })" class="btn btn-default">Edit</a></p>
            </td>
            <td>
                <p><a href="@Url.Action("DeleteSubject","Administrator",new { id=item.ID })" class="btn btn-default">Delete</a></p>
            </td>
        </tr>
    }

</table>

<p>
    <a href="@Url.Action("CreateSubject","Administrator", new { id = Model.FirstOrDefault().TeacherID })" class="btn btn-primary btn-lg">Add &#43;</a>
</p>
