@* STYLES *@
<link href="~/Content/TeacherPage/TeacherIndexStyle.css" rel="stylesheet" />

@model IEnumerable<MyHours.Models.USER>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Teachers</h2>
<p style="height:35px;"></p>
<table class="table" align="center">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SecondName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TEACHER.TeacherStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TEACHER.FACULTY_ASSIGNMENT.Where(x=>x.TeacherID == model.TEACHER.ID).FirstOrDefault().FACULTY.Name)
        </th>
        <th>Number of Subjects</th>
        <th>Assigned Hours</th>
        <th>Used Hours</th>
        <th>Free Hours</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SecondName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TEACHER.TeacherStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TEACHER.FACULTY_ASSIGNMENT.Where(x => x.TeacherID == item.TEACHER.ID).FirstOrDefault().FACULTY.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TEACHER.SUBJECT_ASSIGNMENT.Count)
        </td>
        <td>
            @{
                <font color="blue"><b>@item.TEACHER.AssignedHours</b></font>
            }
        </td>
        <td>
            @{
                var t1 = item.TEACHER.SUBJECT_ASSIGNMENT.Sum(x => x.Hours);
                if (t1 > item.TEACHER.AssignedHours)
                {
                    <font color="red"><b>@t1</b></font>
                }
                else if (t1 == item.TEACHER.AssignedHours)
                {
                    <font color="blue"><b>@t1</b></font>
                }
                else
                {
                    <font color="green"><b>@t1</b></font>
                }

            }
    </td>

        <td>
            @{
                var t = item.TEACHER.AssignedHours - item.TEACHER.SUBJECT_ASSIGNMENT.Sum(x => x.Hours);
                if (t > 0)
                {
                    <font color="green"><b>@t</b></font>
                }
                else
                {
                    t = 0;
                    <font color="red"><b>@t</b></font>
                }
            }
        </td>

        <td>
            <p><a href="@Url.Action("Edit","Administrator",new { id=item.ID })" class="btn btn-default">Edit</a></p>
        </td>
        <td>
            <p><a id="deleteButton" href="@Url.Action("Delete","Administrator",new { id=item.ID })" onclick = "return confirm('Are you sure you wish to delete this user?');" class="btn btn-default">Delete</a></p>
        </td>
        <td>
            <p><a href="@Url.Action("Edit","Administrator",new { id=item.ID })" class="btn btn-default">Report</a></p>
        </td>
    </tr>
}

</table>
<div>
    <p>
        <a href="@Url.Action("Register","Account")" class="btn btn-primary btn-lg">Add &#43;</a>
    </p>

    <p>
        <a href="@Url.Action("Create","Teacher")" class="btn btn-primary btn-lg">General Report &#43;</a>
    </p>
</div>
