@model IEnumerable<MyHours.Models.SUBJECT_ASSIGNMENT>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TEACHER.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TEACHER.SecondName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TEACHER.TeacherStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TEACHER.SUBJECT_ASSIGNMENT.FirstOrDefault().SUBJECT.SPECIALITY.MAJOR.FACULTY.Name)
        </th>
        <th>Number of Subjects</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TEACHER.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TEACHER.SecondName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TEACHER.TeacherStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TEACHER.SUBJECT_ASSIGNMENT.FirstOrDefault().SUBJECT.SPECIALITY.MAJOR.FACULTY.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TEACHER.SUBJECT_ASSIGNMENT.Count)
        </td>
        <td>
            <p><a href="@Url.Action("Edit","Administrator",new { id=item.ID })" class="btn btn-default">Edit</a></p>
        </td>
        <td>
            <p><a href="@Url.Action("Delete","Administrator",new { id=item.ID })" class="btn btn-default">Delete</a></p>
        </td>
    </tr>
}

</table>
